<section>
    <h1 class="h2 text-main text-center">Forgot Password:</h1>
    @if (step == 1) {
    <form [formGroup]="verifyEmail" class="bg-main-light shadow p-2 my-2 rounded-4 " (ngSubmit)="sendEmail()">
        <div class="my-2">
            <label for="email">email</label>
            <input formControlName="email" id="email" type="email" class="form-control">
        </div>
        <button [disabled]="verifyEmail.invalid" class="btn-main">VerifyEmail</button>
    </form>
    }


    @else if (step==2) {
    <form [formGroup]="verifyCode" (ngSubmit)="sendVerifyCode()">
        <div class="my-2">
            <label for="code">VerifyCode</label>
            <input formControlName="resetCode" id="code" type="text" class="form-control">
        </div>
        <button [disabled]="verifyCode.invalid" class="btn-main">VerifyCode</button>
    </form>
    }


    @else if (step == 3) {
    <form [formGroup]="resetPassword" (ngSubmit)="restPassword()">
        <div class="my-2">
            <label for="email">email</label>
            <input readonly formControlName="email" id="email" type="email" class="form-control">

            <div class="position-relative">
                <label for="resetPassword">resetPassword</label>
                <input id="resetPassword" [type]="isPasswordVisible ? 'text' : 'password'"
                    class="form-control password-input" formControlName="newPassword">
                @if(resetPassword.get('newPassword')?.dirty){
                <button (click)="togglePasswordVisibility()" class="eye-icon">
                    <i [class]="isPasswordVisible ? 'fa-solid fa-eye' : 'fa fa-eye-slash'"></i>
                </button>}
            </div>

            <!-- <label for="resetPassword">resetPassword</label>
            <input formControlName="newPassword" id="resetPassword" type="Password" class="form-control"> -->
        </div>
        <button [disabled]="resetPassword.invalid" class="btn-main">resetPassword</button>
    </form>
    }


</section>