@if (detailsBrand) {
<section>
    <div class="container">
        <div class="row align-items-center bg-main-light shadow p-2 my-2 rounded-4">
            <div class="col-md-3">
                <img [src]="detailsBrand.image" class="w-100" [alt]="detailsBrand.name">
            </div>
            <div class="col-md-9">
                <h3>{{detailsBrand.createdAt}}</h3>
                <h2 class="h5">{{detailsBrand.name}}</h2>
                <p class="h5">{{detailsBrand.updatedAt}}</p>
            </div>
        </div>
    </div>

</section>
}