<section class="bg-main-light shadow p-2 my-2 rounded-4 position-relative">
    <h1 class="h2 text-main">Register Now:</h1>

    <form [formGroup]="registerForm" (ngSubmit)="registersumbit()">
        <div class="my-2">
            <label for="name">name</label>
            <input [ngClass]="{'is-valid':!registerForm.get('name')?.errors,'is-invalid':registerForm.get('name')?.errors &&(registerForm.get('name')?.touched
            ||registerForm.get('name')?.dirty)}" id="name" type="text" class="form-control" formControlName="name">
            @if (registerForm.get('name')?.errors && (registerForm.get('name')?.touched
            ||registerForm.get('name')?.dirty)) {
            <div class="w-50 alert alert-danger">
                @if ( registerForm.get('name')?.getError('required')) {
                <p class="m-0">Name Is Required</p>
                }
                @if ( registerForm.get('name')?.getError('minlength')) {
                <p class="m-0">Name Should be more than or equal 3 chars</p>
                }

                @if ( registerForm.get('name')?.getError('maxlength')) {
                <p class="m-0">Name Should be less than or equal 20 chars</p>
                }


            </div>
            }
        </div>
        <div class="my-2">
            <label for="email">email</label>
            <input [ngClass]="{
'is-valid':!registerForm.get('email')?.errors && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty),
'is-invalid':registerForm.get('email')?.errors && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)
            }" id="email" type="email" class="form-control" formControlName="email">


            @if (registerForm.get('email')?.errors && registerForm.get('email')?.touched ) {
            <div class="w-50 alert alert-danger">
                @if ( registerForm.get('email')?.getError('required')) {
                <p class="m-0">Email Is Required</p>}
                @if ( registerForm.get('email')?.getError('email')) {
                <p class="m-0">Enter Valid Email </p>}
            </div>
            }
        </div>

        <div class="my-2">
            <label for="phone">phone</label>
            <input [ngClass]="{
'is-valid':!registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty),
'is-invalid':registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty)

            }" id="phone" type="tel" class="form-control" formControlName="phone">

            @if (registerForm.get('phone')?.errors && registerForm.get('phone')?.touched ) {
            <div class="w-50 alert alert-danger">
                @if ( registerForm.get('phone')?.getError('required')) {
                <p class="m-0">phone Is Required</p>}
                @if ( registerForm.get('phone')?.getError('pattern')) {
                <p class="m-0">Enter Valid phone </p>}
            </div>
            }
        </div>
        <div class="my-2">
            <div class="position-relative">
                @if(registerForm.get('password')?.dirty){
                <button (click)="togglePasswordVisibility()" class="eye-icon">
                    <i [class]="isPasswordVisible ? 'fa-solid fa-eye' : 'fa fa-eye-slash'"></i>
                </button>
                }
                <label for="password">password</label>
                <input id="password" [type]="isPasswordVisible ? 'text' : 'password'"
                    class="form-control password-input" formControlName="password">

            </div>
            <!-- 
            <label for="password">password</label>
            <input id="password" type="password" class="form-control" formControlName="password"> -->
            @if (registerForm.get('password')?.errors && registerForm.get('password')?.touched ) {
            <div class="w-50 alert alert-danger">
                @if ( registerForm.get('password')?.getError('required')) {
                <p class="m-0">password Is Required</p>}
                @if ( registerForm.get('password')?.getError('pattern')) {
                <p class="m-0">Enter Valid Password </p>}
            </div>
            }
        </div>
        <div class="my-2">
            <div class="position-relative">
                <label for="rePassword">rePassword</label>
                <input id="rePassword" [type]="isPasswordVisible2 ? 'text' : 'password'"
                    class="form-control password-input" formControlName="rePassword">
                @if(registerForm.get('rePassword')?.value !== null){
                <button (click)="togglePasswordVisibility2()" class="eye-icon ">
                    <i [class]="isPasswordVisible2 ? 'fa-solid fa-eye' : 'fa fa-eye-slash'"></i>
                </button>
                }
            </div>

            <!-- <label for="rePassword">rePassword</label>
            <input id="rePassword" type="password" class="form-control" formControlName="rePassword"> -->

            @if (registerForm.getError("mismatch") && registerForm.get('rePassword')?.touched)
            {
            <p class="m-0 alert alert-danger w-50">Password confirmation is incorrect </p>}


        </div>
        <button [disabled]="registerForm.invalid " class="btn-main ms-auto d-block">Register
        </button>


        <!-- 
        @if (isLoading) {
        <div class="load-span    d-flex justify-content-center align-content-center position-absolute">
            <span class="loader  "></span>
        </div>
        }

        @if (msgError) {
        <div #hide class="messg-err position-absolute w-100 h-100  d-flex justify-content-center align-content-center">
            <p class="alert  fw-bold fs-4 text-center w-50 er text-danger">{{msgError}} <i
                    class="fa-solid fa-exclamation fs-5"></i>
            </p>
        </div>
        }

        @if (msgSuc) {
        <div class="messg-succ position-absolute w-100 h-100  d-flex justify-content-center align-content-center">
            <p class="alert  fw-bold fs-4 text-center w-50 su text-success">Success <i
                    class="fa-solid fa-check fs-5"></i>
            </p>
        </div>
        } -->


    </form>
</section>