<footer class="bg-main-light py-5 mt-4">
    <div class="container">
        <h2 class="m-0 h4">Get The FreshCart App</h2>
        <p class="text-muted small">
            We Will Send You a Link, Open it on Your Phone to download the app
        </p>

        <!-- inputs design  -->
        <div class="d-flex align-items-center gap-3 text-nowrap">
            <input type="text" class="form-control" placeholder="Email" />
            <button class="btn-main">Share App Link</button>
        </div>

        <hr />
        <!-- footer payment Details Design  -->
        <div class="row gx-3 pay-details d-flex justify-content-between align-items-center">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="d-flex align-items-center justify-content-evenly">
                    <h3 class="h6 m-0">Payment partners</h3>
                    <img src="./assets/images/amazon-pay.png" width="45px" alt="" />
                    <img src="./assets/images/American-Express-Color.png" width="45px" alt="" />
                    <img src="./assets/images/paypal.png" width="70px" alt="" />
                    <img src="./assets/images/mastercard.webp" width="70px" alt="" />
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="d-flex align-items-center justify-content-evenly gap-2">
                    <h3 class="h6 m-0">Get Deliveries with FreshCart</h3>
                    <img src="./assets/images/get-google-play.png" width="75px" alt="" />
                    <img src="./assets/images/get-apple-store.png" width="75px" alt="" />
                </div>
            </div>
        </div>
    </div>
</footer>