<section class="w-75 mx-auto bg-main-light shadow rounded-3 my-4 p-4">
    <div class="container">
        <h2 class="text-main h3">shippingAddress</h2>
        <form [formGroup]="orders" (ngSubmit)="ordersSubmit()">
            <div class="my-1">
                <label for="details">details</label>
                <textarea class="form-control" id="details" formControlName="details"
                    placeholder="Details..."></textarea>
            </div>
            <div class="my-1">
                <label for="phone">phone</label>
                <input formControlName="phone" class="form-control" type="tel" id="phone">
            </div>
            <div class="my-1">
                <label for="city">city</label>
                <input formControlName="city" class="form-control" type="text" id="city">
            </div>
            <button class="btn-main mt-2" type="submit">Check Out</button>
        </form>
    </div>

</section>