<section class="bg-main-light shadow p-2 my-2 rounded-4 position-relative">
    <h1 class="h2 text-main">login Now:</h1>

    <form [formGroup]="loginForm" (ngSubmit)="loginsumbit()">

        <div class="my-2">
            <label for="email">email</label>
            <input [ngClass]="{
'is-valid':!loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty),
'is-invalid':loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)
            }" id="email" type="email" class="form-control" formControlName="email">


            @if (loginForm.get('email')?.errors && loginForm.get('email')?.touched ) {
            <div class="w-50 alert alert-danger">
                @if ( loginForm.get('email')?.getError('required')) {
                <p class="m-0">Email Is Required</p>}
                @if ( loginForm.get('email')?.getError('email')) {
                <p class="m-0">Enter Valid Email </p>}
            </div>
            }
        </div>


        <div class="my-2 ">
            <div class="position-relative">
                <label for="password">password</label>
                <input id="password" [type]="isPasswordVisible ? 'text' : 'password'"
                    class="form-control password-input" formControlName="password">
                    @if(loginForm.get('password')?.dirty){
                <button (click)="togglePasswordVisibility()" class="eye-icon">
                    <i [class]="isPasswordVisible ? 'fa-solid fa-eye' : 'fa fa-eye-slash'"></i>
                </button>}
            </div>

            @if (loginForm.get('password')?.errors && loginForm.get('password')?.touched ) {
            <div class="w-50 alert alert-danger">
                @if ( loginForm.get('password')?.getError('required')) {
                <p class="m-0">password Is Required</p>}
                @if ( loginForm.get('password')?.getError('pattern')) {
                <p class="m-0">Enter Valid Password </p>}
            </div>
            }
        </div>

        <div class="d-flex align-items-center justify-content-end gap-4">
            <a class="link-primary " routerLink="/forgot">forgot Password</a>
            <button [disabled]="loginForm.invalid || isLoading" class="btn-main  d-block">login
            </button>
        </div>





    </form>
</section>