<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="login">
            <img src="./assets/images/freshcart-logo.svg" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <!-- <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" routerLink="login" routerLinkActive="active-link">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="register" routerLinkActive="active-link">Register</a>
                </li>

            </ul> -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link ">
                        <i class="fa-brands fa-facebook cr"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ">
                        <i class="fa-brands fa-instagram cr"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ">
                        <i class="fa-brands fa-tiktok cr"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ">
                        <i class="fa-brands fa-twitter cr"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link ">
                        <i class="fa-brands fa-linkedin cr"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ">
                        <i class="fa-brands fa-youtube cr"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="login" routerLinkActive="active-link">
                        Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="register" routerLinkActive="active-link">
                        Register
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>